th {
    width: 300px;
}

td {
    text-align: center;
}

.paginate {
    text-align: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

a {
    text-decoration: none;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
